a{
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(224, 223, 238);
}

ul {
    padding: 0;
    list-style: none;
    margin-top: 0px;
}

#descriptors {
    margin-right: -50px;
    color: #220d53;
    font-size: 15px;
}

#description {
    text-transform: capitalize;
    margin-left: -1px;
}

#temp-icon {
    font-size: 50px;
}
#city {
    color: #403151;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    padding-bottom: 0;
}
#location-icon {
    font-size: 25px;
}

#icon {
  margin-top: -40px;
  width: 160px;
  height: 160px;
  margin-right: 50px;
}

#row-1 {
    margin-top: 35px;
    margin-bottom: -20px;
}

#wind-icon {
    margin-right: 2px;
    margin-left: 3px;
    font-size: 20px;
    color:rgb(33, 33, 33);
}

.open-icon {
    margin-left: 2px;
}

.humidity-image {
    width: 25px;
    height: 25px;
}

.source-code {
  text-align: center;
}

.open-icon-2 {
    margin-left: -1px;
}

.btn {
    background-color: rgb(70, 60, 182);
    border-radius: 10px;
}

.list-data {
    margin: 3px;
    padding: 0;
    font-weight: 600;
    color: #70757a;
}

.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
}

.weather-app {
    padding: 20px;
    border: 2px solid #2b0e47;
    border-radius: 10px;
}

.overview {
    margin-bottom: 20px;
}

.weather-temperature img {
    margin-right: 5px;
    height: 64px;
    width: 64px;
}

.weather-temperature #temperature {
    color: #403151;
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
}

.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
}

.weather-temperature .active {
    color: rgb(33, 33, 33);
    cursor: default;
}

.weather-temperature .active:hover {
    text-decoration: none;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
    color: #000;
}

.weather-forecast-date {
    font-size: 16px;
    opacity: 0.5;
}

.weather-forecast-temperatures {
    font-size: 13px;
}

.weather-forecast-temperature-min {
    opacity: 0.5; 
} 