body {
  font-family: 'Poppins' sans-serif;
  font-size: 20px;
  color: rgb(41, 7, 7);
  background-color: blue;
}
form {
  padding-top: 35px;
}
.container {
  background: linear-gradient(#0c1445 -16.9%, rgb(71, 30, 84) 119.9%);
}
.top {
  padding-bottom: 35px;
  font-size: 18px;
}
.forecast {
  background-color: rgba(5, 121, 9, 0.253);
  padding-top: 20px;
  font-size: 16px;
  width: 100%;
}
.units {
  font-size: 25px;
}
.row {
  text-align: center;
}
.col-4 {
  justify-items: center;
  padding-bottom: 20px;
}
#temp {
  font-size: 70px;
}
.form-control {
  background-color: #3e1d52;
  border: #3e1d52;
}
.location {
  font-size: 30px;
}

.footer {
  text-align: center;
  padding-bottom: 0;
  padding-top: 50px;
}
.w-100 {
  transition: all ease-in-out 200ms;
}
.w-100:hover {
  background-color: #3e1d52;
  border: #3e1d52;
  color: white;
}